
.remove-icon {
    cursor: pointer;
    color: red;
    margin-left: 5px;
}

#createSetButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: green;
    border: none;
}

.row{
    padding-top: 20px;
}